.navbar-custom{
    background-color: #ffebcdd4 !important;   
    height: 80px;

}
.navbar-logged-in{
    background-color: #ffebcdd4 !important;   
    opacity: 0.5;
    height: 80px;
    pointer-events: none;
    cursor: not-allowed;
}